# If you use ForgeGradle, or you are decompiling for the first time, you should use this file!
# If you are just decompiling with MCP then put this file in 
#
# This file is found by the Forge Gradle plugin and is applied at decompilation.
# It transforms the following fields and/or methods to public. 

public atv.S # Minecraft.timer
public beu.c # AbstractClientPlayer.downloadImageCape
public beu.e # AbstractClientPlayer.locationCape
public bic.d # ThreadDownloadImageData.bufferedImage
public bic.c # ThreadDownloadImageData.imageBuffer
public awe.a # GuiScreen.selectedButton